<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Birthday App</title>
    <link href="<%= url('/index.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id='container'>
    <h1>Hello there!</h1>
      <section>
      <h3>What's your name?</h3>
        <form action='/details' method='post'>
          <input type='text' name='first_name' id='name_area'>
        <h3>When's your birthday?</h3>
          day: <input type='text' name='day' id='day'>
          month: <select type='dropdown' name='month'>
                  <option value='January'>January</option>
                  <option value='February'>February</option>
                  <option value='March'>March</option>
                  <option value='April'>April</option>
                  <option value='May'>May</option>
                  <option value='June'>June</option>
                  <option value='July'>July</option>
                  <option value='August'>August</option>
                  <option value='September'>September</option>
                  <option value='October'>October</option>
                  <option value='November'>November</option>
                  <option value='December'>December</option>
                </select>
        <br>
        <button type='submit' id='button-go'>Go!</button>
        </form>
      </section>
    </div>
  </body>
</html>